<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://simplefuncs.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0edc09bb-e123-4bb8-8f5a-9b382654704a/resourceGroups/FuncsResourceGroup/providers/Microsoft.Web/sites/SimpleFuncs</ResourceId>
    <UserName>$SimpleFuncs</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://simplefuncs.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>